.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    background-color: beige;
    padding: 20px;
}

section{
    flex: 70px;
    background-color: beige;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: green;
}

@media screen and (max-width: 550px){
    nav, _row{
        
    }
}

  
  